h1 {
  color: #000000;
  font-size: 35px;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  height: auto;
}

body{
  border-color: black;
  margin: 20px;
  background: linear-gradient(
      to right,
      rgb(9, 69, 147) 0%,
      rgb(9, 69, 147) 30%,
      rgb(33, 106, 202) 30%,
      rgb(33, 106, 202) 100%
    )
}
li{
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

h2 {
  color: #5454a0;
  font-size:25px ;
  font-family: 'Merriweather', serif;
  margin: 10px 0px;
}

h3 {
  color: #303335;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

p {
  color: #2b2e31;
  font-family: 'Nunito Sans', sans-serif;
}

#contact-information  {
  background-color: #cfcece;
  width: 95%;
  margin: 25px 0px 10px 0px;
  padding: 5px 0px 5px 19px;
}

div#education-part {
  padding-left: 20px;
  padding-top: 0px;
}

#left-part {
  border-right:solid black;
  width:25%;
  padding: 10px 5px 10px 0px;
}

#right-part {
  width: 70%;
  padding: 20px 0px 10px 20px;
}

#contact-information h2{
  margin: 5px 0px
}
#contact-information h3{
  margin: 5px 0px;
  padding: 4px;
}

#image-part {
  background-image: url(../image/white\ background.png);
  margin: 0px;
  width: 100%;
  height: 1220px;
}

#middle-part div{
  float: left;
}

#skills-required div{
  float: left;
  padding:0px; 
  margin-top:-20px;
  margin-bottom:-10px;
}

img{
  box-shadow: 3px 3px 80px #000000;
  padding:5px 5px;
  height:150px; 
  width:150px;
  border-radius: 50%;
}

#upper-part div{
  float: left;
  margin: 15px 0px 0px 15px;
}

.down-part div{
  width: 20%;
}

hr{
  width: 70px;
  height: 5px;
  background-color:rgb(33, 106, 202) ;
  border-radius: 0%;
  border: none;
  margin: 0px 500px 0px 210px;
}

#language-percentage div {
  width: 90%;
}

#language-percentage h2{
  padding-left: 20px;
}

#english-percentage {
  margin: 0px;
  padding-left: 20px;
}

#hindi-percentage {
  margin: 0px;
  padding-left: 20px;
}

#telugu-percentage {
  margin: 0px;
  padding-left: 20px;
}

#language-percentage h3,h4{
  margin: 0px;
}
#english-percentage h3{
  float: left;
}

#hindi-percentage h3{
  float: left;
}

#telugu-percentage h3{
  float: left;
}

#english-percentage h4{
  float: right;
}

#hindi-percentage h4{
  float:right;
}

#telugu-percentage h4{
  float:right;
}

#english-percentage >div:nth-child(2){
  background-color: #d5d3d3;
  height: 10px;
  margin: 10px 0px;
}

#hindi-percentage >div:nth-child(2){
  background-color: #d5d5d5;
  height: 10px;
  margin: 10px 0px;
}

#telugu-percentage >div:nth-child(2){
  background-color: #d5d3d3;
  height: 10px;
  margin: 10px 0px;
}

#language-percentage p{
  background-color:rgb(33, 106, 202) ;
  height: 10px;
  margin: 0px;
  padding:0px;
}

#english-percentage p{
  width: 90%;
} 

#hindi-percentage p{
  width: 70%;
}

#telugu-percentage p{
  width: 90%;
}

#hobbies-part{
  padding-left: 20px;
}

#hobbies-part li{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

#hobbies-part ol{
  padding-left: 20px;
  margin: 0px;
}
#hobbies-part h2{
  padding-left: 0px;
}

#certification-part ol{
  padding: 0px;
  margin: 20px;
}